.containerCard {
    display: flex;
    background-color: white;
    border-radius: 20px;
}

.containerCard .sectionTitle {
    flex:1;
}

.containerCard .sectionDetails {
    flex:3;
}

.containerCard .sectionFavorite {
    flex:1;
}

.containerSpinner {
    position: fixed;
    left: 60%;
    bottom: 50%;
}