.containerProducts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}

.containerAll {
  margin-top: 20px;
  background-color: rgb(211, 208, 208);
}
